<h1>Send confirmation instructions angain</h1>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <section class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </section>

  <section class="actions">
    <%= f.submit "Send confirmation instructions angain" %>
  </section>
<% end %>

<%= render "devise/shared/links" %>
