<section class="container border">
    <h1>Add food</h1>
    <ul class="list-unstyled">
    <%= form_with model: Food.new, class: "my-4" do |f| %>
        <li class="mb-3">
            <%= f.label :name, class: "form-label" %>
            <%= f.text_field :name, class: "form-control" %>
        </li>
        <li class="mb-3">
            <%= f.label :measurement_unit, class: "form-label" %>
            <%= f.text_field :measurement_unit, class: "form-control" %>
        </li>
        <li class="mb-3">
            <%= f.label :price, class: "form-label" %>
            <%= f.number_field :price, class: "form-control" %>
        </li>
        <li class="mb-3">
            <%= f.label :quantity, class: "form-label" %>
            <%= f.number_field :quantity, class: "form-control" %>
        </li>
        <%= f.submit class: "btn btn-primary" %>
    <% end %>
</section>

